venv/
__pycache__/
*.pyc
runs/
test_videos/
.vscode/
.idea/
yolov8n.pt

# datasets to ignore
datasets/cow/
datasets/goat/
datasets/horse/
datasets/sheep/
datasets/v1_240507/
datasets/farm_dataset/images/
datasets/farm_dataset/labels/
datasets/*.zip

# other large/unneeded files
archive.zip
v1_240507.zip